* {
    /* Шрифт по умолчанию */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* Включать ширину рамки в размер блока.
       Иначе при наличии рамки блоки будут "вылезать" в стороны. */
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    font-size: smaller;
}

.height-image {
    max-height: 75vh;
}
.color_datetime {
    color: white;
    font-size: medium;
}
.font-style-spinner {
    width: 5rem;
    height: 5rem;
}

.alert {
    width: 40rem;
    height: 5rem;
    justify-content: center;
}
.alert div {
    font-size: 20px;
}
.wrapper {
    width: 100%;
    height: 470px;
    display: grid;
    grid-template-columns: 60% 40%;
}
